@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.bg-product{
    background-color: #f7f7f7;
}
.added-enter {
  opacity: 0;
  transform: scale(0.9);
}

.added-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.bg-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bg-shadow:hover{
  box-shadow: 5px 10px 14px 5px rgba(216, 159, 101,0.3)
}

.bg-buy{
  background: linear-gradient(123.55deg, #d89654 11.74%, #f2b980 87.03%);
}
.bg-buy-hover {
  background: linear-gradient(123.55deg, #d89654 11.74%, #f2b980 87.03%);
}
.bg-buy-hover:hover{
  background: transparent;
  border : 2px solid ;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  background-color: #efefef;
}


